// wide screens
@include mediaXl{
    .locations-info{
        grid-template-columns: repeat(4,1fr);
    }

}
// laptop
@include mediaLg{
    .locations-info{
        grid-template-columns: repeat(3,1fr);
    }
    
}
//tablet
@include mediaMd{
    main{
        align-items: center;
        text-align: center;

        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav , div.menu-branding{
        float: none;
        width: 100%;
        min-height: 0;
        &.show {
            transform: translate3d(0,0,0);
        }
    }
    .menu-nav{
        height: 75vh;
        transform: translate3d(0,100%,0);
        font-size: 24px;
    }
    .menu-branding{
        height: 25vh;
        transform: translate3d(0,-100%,0);

        .portrait{
            width: 150px;
            height: 150px;
        }
    }

    .caracters-info{
        grid-template-areas: 
        "bioimage"
        "bio"
        "bioimage1"
        "bio1"
        "bioimage2"
        "bio2"
        "bioimage3"
        "bio3"
        "bioimage4"
        "bio4"
        "bioimage5"
        "bio5";;
        grid-template-columns: 1fr;
        img{
            margin-left: 4rem;
        }
    }
    .villains-info{
        grid-template-areas: 
        "bioimage"
        "bio"
        "bioimage1"
        "bio1"
        "bioimage2"
        "bio2"
        "bioimage3"
        "bio3"
        "bioimage4"
        "bio4"
        "bioimage5"
        "bio5";;
        grid-template-columns: 1fr;
        img{
            margin-left: 4rem;
        }
    }
    .locations-info{
        grid-template-columns: repeat(2,1fr);
    }
}
// phones
@include mediaSm{
    main#home h1 {
        margin-top: 10vh;
    }
    .locations-info{
        grid-template-columns: 1fr;
    }
}