@import 'config';
@import "menu";



*{
    box-sizing: border-box;
}

body{
    @include background();
    background: $primary-color;
    color: setTextColor($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}

//headings
h1,
h2,
h3{
    margin: 0;
    font-weight: 400;
    text-align:center;
    &.lg-heading{
        font-size: 6rem;
    }
    &.md-heading{
        font-size: 4rem;
        color: $secondary-color;
    }
    &.sm-headings{
        font-size: 2rem;
    }
}

a{
    color: #fff;
    text-decoration: none;
}
header{
    position: fixed;
    z-index: 2;
    width: 100%;
    .menu-nav{
        a{
            &:hover{
               color: $secondary-color;
              @include easeOut();
            }
        }
    }
    
}

.text-secondary{
    color: $secondary-color;
}
main{
    padding: 4rem;
    min-height: calc(100vh-60px);

    .icons{
        margin-top: 10rem;
        text-align:center;
        a{
            padding: 0.4rem;

            &:hover{
                color: $secondary-color;
                @include easeOut();
            }
        }
    }
    &#home{
        overflow: hidden;
        h1{
            margin-top: 20vh;
        }
    }
}
 //heroes characters

.caracters-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    "bioimage bioimage1"
    "bio bio1"
    "bioimage2 bioimage3"
    "bio2 bio3"
    "bioimage4 bioimage5"
    "bio4 bio5";
    grid-template-columns: repeat(2,1fr);
    .bio-Noah{
        grid-area: bio;
        font-size: 1.5rem;
    }
    .bio-Mio{
        grid-area: bio1;
        font-size: 1.5rem;
    }
    .bio-Sena{
        grid-area: bio2;
        font-size: 1.5rem;
    }
    .bio-Lanz{
        grid-area: bio3;
        font-size: 1.5rem;
    }
    .bio-Euine{
        grid-area: bio4;
        font-size: 1.5rem;
    }
    .bio-Taion{
        grid-area: bio5;
        font-size: 1.5rem;
    }
    img{
        width: 50%;
        border: 3px #fff solid;
        width: 250px;
        height: 250px;
        margin-left: 12rem;

        &:hover{
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

//villains characters
.villains-info {
    margin-top: 100px;
    display: grid;
    grid-gap: 100px;
    grid-template-areas:
    "bioimage bioimage1"
    "bio bio1"
    "bioimage2 bioimage3"
    "bio2 bio3"
    "bioimage4 bioimage5"
    "bio4 bio5";
    grid-template-columns: repeat(2,1fr);
    .bio-Z{
        grid-area: bio;
        font-size: 1.5rem;
    }
    .bio-N{
        grid-area: bio1;
        font-size: 1.5rem;
    }
    .bio-M{
        grid-area: bio2;
        font-size: 1.5rem;
    }
    .bio-J{
        grid-area: bio3;
        font-size: 1.5rem;
    }
    .bio-X{
        grid-area: bio4;
        font-size: 1.5rem;
    }
    .bio-Y{
        grid-area: bio5;
        font-size: 1.5rem;
    }
    img{
        width: 50%;
        border: 3px #fff solid;
        width: 250px;
        height: 250px;
        margin-left: 12rem;

        &:hover{
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}



//locations
.locations-info{
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3,1fr);
    img{
        width: 100%;
        border: 3px #fff solid;

        &:hover{
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

.region-info{
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    "image bio";
    grid-template-columns: repeat(2,1fr);
    .bio-region{
        grid-area: bio;
        font-size: 1.5rem;
    }
    img{
        width: 100%;
        border: 3px $secondary-color solid;
    }
}

//music
.music-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    i{
        padding: 1.5rem;
    }

    div{
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover{
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: setTextColor($secondary-color);
            span{
                color:setTextColor($secondary-color);
            }
        }
    }
}


//buttons Styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover{
        background: $secondary-color;
        color: setTextColor($secondary-color);
    }
}

.btn-dark{
    @extend .btn;
    background: darken($primary-color,50);
    color: #fff;

}
.btn-light{
    @extend .btn;
    background: lighten($primary-color,50);
    color: #333;
}

#main-footer{
    text-align: center;
    padding: 1rem;
    background: darken($color: $primary-color, $amount: 10);
    color: setTextColor($primary-color);
    height: 60px;
}

@import "mobile";
